<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reservaciones</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="col-lg-12">
            <div id="carrusel" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                    <li data-target="#carrusel" data-slide-to="0" class="active"></li>
                    <li data-target="#carrusel" data-slide-to="1"></li>
                    <li data-target="#carrusel" data-slide-to="2"></li>
                </ul>

                <!-- The slideshow -->
                <div class="carousel-inner" >
                    <div class="carousel-item active contenedor">
                        <img src="https://media.audleytravel.com/-/media/images/home/central-america/mexico/places/istock513679294_cancun_800x2400.jpg?q=79&amp;w=1920&amp;h=640" class="img-fluid tam_imagen" id="tam_imagen" alt="Responsive image">
                        <div class="carousel-caption">
                            <h3>Cancún</h3>
                            <p>¡Aprovecha la oportunidad de vacacionar en las playas de Cancún!</p>
                            <a href="/Home/RailService?id=1"><button class="btn btn-primary" id="letra-boton">Contratar</button></a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://media.audleytravel.com/-/media/images/home/central-america/mexico/places/istock_471250630_cuernavaca_800x2400.jpg?q=79&amp;w=1920&amp;h=640" class="img-fluid tam_imagen" alt="">
                        <div class="carousel-caption">
                            <h3>Cuernavaca</h3>
                            <p>¡Aprovecha la oportunidad de disfrutar de la belleza de Cuernavaca!</p>
                            <a href="/Home/RailService?id=3" id="letra-boton"><button class="btn btn-primary">Contratar</button></a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://media.audleytravel.com/-/media/images/home/central-america/mexico/places/istock_665657268_mayan_riviera_tulum_800x2400.jpg?q=79&amp;w=1920&amp;h=640" class="img-fluid tam_imagen" alt="" />
                        <div class="carousel-caption">
                            <h3>Riviera Maya</h3>
                            <p>¡Relájate en las maravillas naturales de la Riviera Maya!</p>
                            <a href="/Home/RailService?id=2" id="letra-boton"><button class="btn btn-primary">Contratar</button></a>
                        </div>
                    </div>
                </div>

                <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#carrusel" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#carrusel" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Reservaciones_test - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
